<span id="titleSpan">
  <span>
    <h1>${manufacturer.name}</h1>
  </span>
</span>
  
<div>
  <br>
  <p>Status:  20 from 320 lifts are currently broken.</p>
  <p>Manufacturers of ${manufacturer.name} are <a href="#">BVG</a> and <a href="#"> S-Bahn</a>
  </p>
</div>

	<h5>All lifts from ${manufacturer.name}</h5>

	<table class="listed-data">
		<thead>
			<tr><th>Lift</th>
				<th>Status</th>
				<th>Last Event</th>
			</tr>
		</thead>

		<tfoot>
					<tr>
						<td><a href="#">Friedrichstraße Lift 1</a></td>
						<td>broken</td>
						<td>vandalism</td>
					</tr>
		</tfoot>
	</table>
</div>

