<span id="titleSpan">
  <span>
    <h1>${operator.name}</h1>
  </span>
</span>
  
<div>
  <br>
  <p>At ${operator.name} Stations are 20 from 320 lifts are currently broken.</p>
  <p>
    ${operator.name} has lifts from <a href="#"> Othis </a> and <a href = "#"> Thyssen </a><br>
    ${operator.name} owned the lines <a href="#"> 7, 2 </a>
  </p>
</div>


	<h5>overview Elevators from ${operator.name} </h5>

	<table class="listed-data">
		<thead>
			<tr><th>Lift</th>
				<th>Status</th>
				<th>Last Event</th>
			</tr>
		</thead>

		<tfoot>
					<tr>
						<td><a href="#">Friedrichstraße Lift 1</a></td>
						<td>broken</td>
						<td>vandalism</td>
					</tr>
		</tfoot>
	</table>
</div>

