<h2>Report a broken lift</h2>
<p>
  Please report a broken lift to the BVG here: <strong>(030) 256-22 096</strong><br />
  <a href="http://www.bvg.de/index.php/de/9466/name/Aufzugsmeldungen.html">
    http://www.bvg.de/index.php/de/9466/name/Aufzugsmeldungen.html
  </a>
</p>

<p>Please report a broken lift to the S-Bahn here: <strong>030 297 - 43333</strong><br />
  <a href="http://www.s-bahn-berlin.de/kontakt/index.htm">
    http://www.s-bahn-berlin.de/kontakt/index.htm
  </a>
</p>

<p>Or tweet to: <a href="http://twitter.com/brokenlift">@brokenlift</a></p>
