<h2>Report a broken lift</h2>
<p>
  Please report a broken lift to the BVG here: <strong>+49-30-25622096</strong><br />
  <a href="http://www.bvg.de/index.php/de/9466/name/Aufzugsmeldungen.html" title="BVG Berlin report page" >
    http://www.bvg.de/index.php/de/9466/name/Aufzugsmeldungen.html
  </a>
</p>

<p>Please report a broken lift to the S-Bahn here: <strong>+49-30-29743333</strong><br />
  <a href="http://www.s-bahn-berlin.de/kontakt/index.htm" title="S-Bahn Berlin report page" >
    http://www.s-bahn-berlin.de/kontakt/index.htm
  </a>
</p>

<p>Or tweet to: <a href="http://twitter.com/brokenlifts" title="Brokenlifts on Twitter">@brokenlifts</a></p>
