#footer.row-fluid
  .span12
    .rf
      %a{:href => 'http://brokenlifts.wordpress.com/uber-brokenliftsorg/', :target => '_blank'} Impressum
      &copy; 2012 by
      %a{:href => 'http://www.sozialhelden.de', :target => '_blank'} Sozialhelden e.V.