#header.row-fluid
  .span12
    .logo
      %a{:href => 'http://brokenlifts.org'} Hier bitte das Logo ähnlich dem background setzen
    .navigation
      %ul
        %li
          = link_to 'Stationen', stations_url
        %li
          %a{:href => 'https://brokenlifts.posterous.com/pages/uber-brokenliftsorg', :target => '_blank'} Über das Projekt
