%h1 About

%p
  BrokenLifts ist ein Projekt zur Visualisierung und Benachrichtigung von Aufzugausfällen im Öffentlichen Personenverkehr. Jeden Tag sind Menschen mit Mobilitätseinschränkungen auf Aufzüge angewiesen, um im sich im Alltag frei zu bewegen. BrokenLifts möchte schneller und übersichtlicher auf aktuelle Aufälle hinweisen und auch Auswertungen vornehmen.

%p
  Public transport operators in Europe must ensure that mobility impaired people can use their service. That's why more and more lifts are installed at train and subway stations. Broken lifts severly restrict the freedom of those people. Being stuck at a train platform not only makes a journey much longer, it is also disrespectful to the individual.

