<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Lift Description</th>
      <th>Station</th>
      <th>Lines</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{each(index, lift) lifts}}
      <tr>
        <td>${lift.id}</td>
        <td>
          <a href="#!/lift/${lift.id}">${lift.description}</a>
        </td>
        <td>${lift.station.name}</td>
        <td>{{each(ind, line) lift.station.lines}}
          <span>${line.name}</span>
        {{/each}}</td>
        <td>${lift.latestEvent.description}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
