	<span id="titleSpan">
    <span>
      <h1>${station.name}</h1>
      <span id="state">{{if !events[events.length-1].is_working}} Broken {{else}} Running {{/if}}</span>
    </span>
	</span>

	<span>
		<table id = "helperTable">
			<tbody>
				<tr>
					<td>
						<ul>
							<li id="station">Station:<span><a href="#!/stations/${station.id}">${station.name}</a></span></li>
							<li id="description">Description: <span>${description}</span></li>
							<li id="lines">Lines: <span>{{each(ind, line) station.lines}}<a href="#!/lines/${line.id}">${line.name}</a>{{/each}}</span></li>
							<li id="manufacturer">Operator: <span><a href="">Operator ${operator.name}</a></span></li>
						</ul>
					</td>
					{{if station.lat}}
						<td>
							<div id="map"></div>
							<script type="text/javascript">
							  (function (lat, long) {
							    var latlng = new google.maps.LatLng(lat, long);
							    var myOptions = {
							      zoom: 16,
							      center: latlng,
							      mapTypeId: google.maps.MapTypeId.ROADMAP
							    };
							    var map = new google.maps.Map(document.getElementById("map"), myOptions);
							  }(${station.lat}, ${station.long}));
							</script>
						</td>
					{{/if}}
				</tr>
			</tbody>
		</table>
	</span>


	<h4>Status History</h4>
	<h3>Uptime Percentage</h3>
	<div id="uptimePercentagePieChart" style="width:300px;height:300px">Pie</div>
	<h3>Downtime Durations in Minutes</h3>
	Sorted By Time (right is more recent)
	<div id="eventBrokenDurationChart" style="width:300px;height:300px">Bar</div>

	<table class="listed-data">
		<thead>
			<tr><th>Date</th>
				<th>State</th>
				<th>Comment</th>
			</tr>
		</thead>

		<tfoot>


 			{{each(index, event) events}}

					<tr>
						<td>{{longdate event.dateObj}}</td>

						<td>{{if !event.is_working}} Broken {{else}} Running {{/if}}</td>

						<td>${event.description}</td>
					</tr>
  			{{/each}}


		</tfoot>
	</table>
</div>

