
<span id="titleSpan">
  <h1 id="title"><a href="#!/lifts">${lifts.length} lifts</a> are broken right now.<br><span id="percent"></span> % are run by <span id="operator"></span>.</h1>
</span>
<script>
var BVG = 0;
var SBahn = 0;

{{each(index, lift) lifts}}

if ("${lift.operator.name}" === "BVG") {
  BVG++;
} else{
  SBahn++;
}

{{/each}}

var percent;
if (BVG>SBahn){
  percent = Math.round((BVG/(BVG+SBahn)*100), 2);
  $('#percent').text(percent);
  $('#operator').html('<a href="#">BVG</a>')
} else {
  percent = Math.round((SBahn/(BVG+SBahn)*100),2);
  $('#percent').text(percent);
  $('#operator').html('<a href="#">S-Bahn</a>')
}
</script>
