/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   PLift details page
----------------------------------------- */






/* -----------------------------------------
   Page Name 2
----------------------------------------- */


/* -----------------------------------------
   Error Page
----------------------------------------- */
#snowman {
  font-size: 400pt;
  text-align: center;
  line-height: 1.2;
}
