/** BASE **/

body {
  background: #333;
}

h2 {
  font-size: 22pt;
}

.container, h1, h2, h3 {
  color: #505050;
}


/** HEADER **/

#header {}

#header .logo {
  padding-top: 30px;
}

#header .navigation {
  float: right;
}

#header .navigation ul li {
  display: inline;
  padding: 0 0 0 10px;
}

#header .navigation a {
  font-weight: bold;
  text-transform: uppercase;  
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12pt;
}

#header .navigation a:hover {
  background: #3D3D3D;
}


/** CONTENT **/

.content {
  background-color: #FEFEFE;
  border-radius: 10px;
}

.content h2 {
  padding: 10px 0 10px 30px;
}

.content h2 span {
  padding-right: 33px;
}

.content h2.station.working span {
  background: url(workinglift_big.png) no-repeat right 85%;
}

.content h2.station.broken span {
  background: url(brokenlift_big.png) no-repeat right 85%;
}

.status-list {
  padding: 0 30px 20px 30px;
  margin: 0;
  list-style-image:url(list_closed.gif);
}

.status-list li {
  padding-top: 8px;
  margin-bottom: 5px;
  background-color: transparent;
  list-style-position: inside;
}

.status-list li.framed {
  background-color: #F4F4F4;
}

.status-list li.station a {
  color: #606060;
  text-decoration: none;
}

.status-list li.station a:hover {
  color: #589EFF;
}

.status-list li span.status {
  font-size: 11pt;
  font-weight:bold;
  padding-right: 25px;
}

.status-list li span.status.working {
  background: url(workinglift_small.png) no-repeat right 85%;
}

.status-list li span.status.broken {
  background: url(brokenlift_small.png) no-repeat right 85%;
}


/** FOOTER **/

#footer .rf {
  margin: 10px;
  font-size: 8pt;
  font-weight: bold;
  text-transform: uppercase;
  color: #888;
}

#footer .rf {
  float: right;
}

#footer a {
  color: #ccc;
}


/** CHARTS **/

.chart {
  height: 200px;
}

.chart-row {
  background-color: #fff;
}
.chart-description p {
  color: #787878;
  font-weight: bold;
  font-size: 15px;
  padding: 0;
  margin: 0;
  line-height: 26px;
}

.chart-description span.bold {
  font-weight: normal;
  color: #787878;
  font-size: 30px;
  line-height: 30px;
}

.chart-description span.bolder {
  color: #787878;
  font-size: 35px;
  line-height: 35px;
}