/** BASE **/

body {
  background: url('background.jpg');
}

h2 {
  font-size: 22pt;
}

.container, h1, h2, h3 {
  color: #505050;
}


/** HEADER **/

#header {}

#header .logo {
  padding-top: 30px;
  width: 262px;
  height: 151px;
}

#header .navigation {
  float: right;
}

#header .navigation ul li {
  display: inline;
  padding: 0 0 0 10px;
}

#header .navigation a {
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12pt;
}

#header .navigation a:hover {
  color: #fff;
  background: #3D3D3D;
}


/** CONTENT **/

.content {
  background-color: #FEFEFE;
  border-radius: 10px;
}

.content h2 {
  padding: 10px 0 10px 30px;
  text-shadow: 0px 1px 1px #666;
}

span.status {
  padding-right: 33px;
}

span.status.working {
  background: url(workinglift_big.png) no-repeat right 85%;
}

span.status.broken {
  background: url(brokenlift_big.png) no-repeat right 90%;
}

span.status-small {
  padding-right: 25px;
}

span.status-small.working {
  background: url(workinglift_small.png) no-repeat right 85%;
}

span.status-small.broken {
  background: url(brokenlift_small.png) no-repeat right 85%;
}

.station-list {}

.station-list li {
  font-size: 11pt;
  font-weight:bold;
  padding-top: 8px;
  margin-bottom: 5px;
  list-style-position: inside;
}

.station-list li a {
  color: #606060;
  text-decoration: none;
}

.station-list li a:hover {
  color: #589EFF;
}

.lift-list {
  list-style:none;
  margin: 0 20px;
}

.lift-list li {
  font-size: 11pt;
  font-weight:bold;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
  background-color: #F4F4F4;
  border-radius: 5px;
}


/** FOOTER **/

#footer .rf {
  margin: 10px;
  font-size: 8pt;
  font-weight: bold;
  text-transform: uppercase;
}

#footer .rf {
  float: right;
}


/** CHARTS **/

.chart {
  height: 200px;
}

.chart-container {
  padding: 10px 0;
  padding-right: 20px;
}

.chart-row {
  background-color: #fff;
}

.chart-description p {
  color: #787878;
  font-weight: bold;
  font-size: 15px;
  padding: 0;
  margin: 0;
  line-height: 26px;
}

.chart-description span.bold {
  font-weight: normal;
  color: #787878;
  font-size: 30px;
  line-height: 30px;
}

.chart-description span.bolder {
  color: #787878;
  font-size: 35px;
  line-height: 35px;
}
